
<!-- Image and text -->

<div class="form-inline">
	  <a class="cd-icon animated bounce" routerLink="#"><img src="http://i1253.photobucket.com/albums/hh583/cherylrbrown617/CandDgray_zpsqkhflphn.jpg"></a>

         	<div *ngIf="usernameError"
         		class="alert alert-danger" >
         		Username is already taken!
         	</div>

         	<div *ngIf="passwordError"
         	class="alert alert-danger" >
         	Passwords do not match!
            </div>	

         <!-- Registration Form -->
   <form class="reg-form card shadow p-3 mb-5 bg-info rounded" (ngSubmit)="register()" #f="ngForm">
      <h1 class="reg-text">Sign Up</h1>
         
         <!-- USERNAME -->
               <div class="form-group row">
               	<input 
               	class="form-control"
               	type="text" 
               	name="username"
               	#username="ngModel"
               	ngModel
               	required
               	placeholder="Username">
               </div>
               	<span class="alert" *ngIf="username.invalid && username.touched">Please enter username!</span>
               

         <!-- PASSWORD  -->
               <div class="form-group row">
               	<input 
               	class="form-control" 
               	type="password" 
               	name="password"
               	#password="ngModel" 
               	ngModel
               	required
               	minlength="3"
               	placeholder="Password"/>
               </div>
               	<span class="alert" *ngIf="password.invalid && password.touched">Please enter password!</span>
               

         <!-- VERIFY PASSWORK -->
         <div class="form-group">
         	<input 
         	type="password" 
         	name="verifyPassword"  
         	class="form-control" 
         	required 
         	ngModel 
         	#verifyPassword="ngModel"
         	placeholder="Verify Password"/>
         </div>
         	<span class="alert" *ngIf="verifyPassword.invalid && verifyPassword.touched">Please verify password!</span><br>
         

         <!-- BUTTONS -->
         <div class="clearfix">
         	<button type="submit" class="btn btn-lg btn-outline-success waves-effect">Register</button>
         	<button type="button" class="btn btn-lg btn-outline-warning waves-effect" routerLink="/login">Cancel</button>
         </div>			
   </form>
</div>