

	<nav class="navbar navbar-dark fixed-top cb-gray">
		<a class="cb-color-white" routerLink="/user/{{uid}}/website"><i class="fas fa-chevron-left"></i></a>
		<div class="cb-left-padding">
			<a class="cb-color-white cb-no-underline" routerLink="/user/{{uid}}/website/{{wid}}/page"><b>Pages</b></a>
		</div>
		<a routerLink="/user/{{uid}}/website/{{wid}}/page/new" class="cb-color-white float-right">
		<i class="fas fa-plus"></i></a>
	</nav>

	<div class="container">
		<ul class="list-group"> 
			<li class="list-group-item" *ngFor="let page of pages">
				<a routerLink="/user/{{uid}}/website/{{wid}}/page/{{page._id}}/widget"><b>{{page.name}}</b></a>
				<a class="float-right" routerLink="/user/{{uid}}/website/{{wid}}/page/{{page._id}}"><i class="fas fa-cogs"></i></a>
			</li>
		</ul>
	</div>
			<!-- Bottom Navbar -->
	<nav class="navbar navbar-dark cb-gray fixed-bottom">
		<div class="cb-width">
			<a routerLink="/user/{{uid}}" class="cb-float-right cb-color-white"><i class="fas fa-user"></i></a>
		</div>
	</nav>
