	<nav class="container-fluid"><a class="cd-icon animated bounce" routerLink="#"><img src="http://i1253.photobucket.com/albums/hh583/cherylrbrown617/CandDgray_zpsqkhflphn.jpg"></a></nav>
   	<header id="showcase">	
    <h1>Welcome to the Cupcakes & Dirt Blog!</h1>
    <p>Welcome to this family blog where you will be able to keep in contact with friends and family, whether near or far.  You will be able to post photos and videos and even submit comments.  Perhaps a chat site in the near future.  <a href="register">Register</a> and Enjoy!</p> 
    <a class="btn btn-primary btn-lg" href="/login" role="button">Click to Login</a>
  </header><br>



 <!-- SnapWidget -->
    <footer class="ig-scroll">
        <iframe src="https://snapwidget.com/embed/569557" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="overflow:hidden; border-spacing: 3px; width:800px; height:160px"></iframe>
    </footer>






