* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
}


#showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#showcase h1{
  font-size: 50px;
  text-align: center;
  margin: 0 0 35px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
#showcase p{
  font-size: 20px;
  padding: 0 20px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

#reg-hm {
  font-size: 23px;
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#reg-hm:hover {
  color: lightcoral;
  font-size:  30px;
}
.btn {
  font-size: 23px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  /* color: #f4f4f4; */
  border: #f4f4f4 1px solid;
  border-radius: 10px;
  /* margin-top: 20px; */
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover{
color: lightcoral;
font-size: 25px;
}



.ig-scroll {
  flex-wrap: wrap;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    
}

footer {
  display: table-row;
}

.cd-icon {  
  top: 10%;
 display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto; 
  animation-delay: 1s;
  z-index: 999;
}


/* 
.login-hm {
  display: flex;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}  */




