
	<div class="container-fluid">
        <a class="cd-icon animated bounce" routerLink="#"><img src="http://i1253.photobucket.com/albums/hh583/cherylrbrown617/CandDgray_zpsqkhflphn.jpg"></a>
    </div>
	 <!-- <nav class="row navbar navbar-dark cb-gray fixed-top"> -->
<!--		left-side nav -->
		<div class="col-sm-4 d-none d-sm-block">	
			<div class="container">
				<a class="cb-color-white" routerLink="/user/{{uid}}/website"><i class="fas fa-chevron-left cb-color-white"></i></a>
				<a class="cb-color-white cb-left-padding cb-no-underline" routerLink="/user/{{uid}}/website"><b>Blog</b></a>
				<a class="cb-color-white float-right" routerLink="/user/{{uid}}/website/new"><i class="fa fa-plus"></i></a>
			</div>
		</div> 
		<!--right-side nav-->
		<div class="col-sm-8">
			<div class="container">
				<a class="cb-color-white cb-no-underline" routerLink="/user/{{uid}}/website/{{wid}}"><b>Edit Blog</b></a>
				<button type="submit" class="float-right cb-color-white btn"><i class="fas fa-check"></i></button>
			</div>
		</div>
	<!-- </nav> -->

		
		<div class="row">
			<!-- left list -->
			<div class="col-sm-4 d-none d-sm-block">
				<div class="container-fluid">
					<ul class="list-group">
						<li class="list-group-item" *ngFor="let website of websites">
							<a routerLink="/user/{{uid}}/website/{{website._id}}/page">{{website.name}}</a>
							<a class="float-right" routerLink="/user/{{uid}}/website/{{website._id}}"><i class="fas fa-cogs"></i></a>
						</li>
					</ul>
				</div>
			</div>	

			<!-- right form -->
				<div class="col-sm-8">
					<div class="container-fluid">
						<form id="websiteForm" (ngSubmit)="update()" #f="ngForm">
							<div class="form-group">
								<label><b>Name</b></label>
								<input required ngModel="{{website.name}}" #name="ngModel" class="form-control" type="text" name="name" placeholder="Enter your website name">
								<div class="alert alert-warning" *ngIf="name.invalid && name.touched">Name cannot be empty</div>
							</div>
						<br>
							<div class="form-group">
								<label for="website-name"><b>Blog Description</b></label>
								<textarea ngModel="{{website.description}}" #description="ngModel" rows="10" class="form-control" name="description" placeholder="Enter your description for this blog"></textarea>
							</div><br>
							<div>
							<button (click)="delete()" type="button" class="btn btn-danger btn-lg cb-submit-btn">Delete</button> 
							<button type="button" class="btn btn-primary btn-lg
							 cb-submit-btn">Update</button>
							</div>
						</form>
					</div>
				</div>
		</div>
	
	

			<div class="cb-width">
			<a class="cb-color-white" routerLink="/user/{{uid}}"><i class="fas fa-user float-right"></i></a>
			</div>
	



