<body class="home-login">


<div class="form-inline">
      <div class="container-fluid">
        <a class="cd-icon animated bounce" routerLink="#"><img src="http://i1253.photobucket.com/albums/hh583/cherylrbrown617/CandDgray_zpsqkhflphn.jpg"></a>
      </div>

        
    <!-- Login form -->
    <form class="login-form card shadow p-3 mb-5 bg-info rounded" (ngSubmit)="login()" #f="ngForm">
      <h1 class="login-txt">Login</h1>
      <div *ngIf="errorFlag" class="alert alert-danger">Invalid username or password</div>


<!-- USERNAME -->
        <div class="form-group row">
            <input 
            class="form-control"
            type="text"
            name="username" 
            placeholder="Username" 
            required
            #username="ngModel"
            ngModel
            />
        </div>            

        <span class="alert" *ngIf="username.invalid && username.touched">Please enter username!</span>

<!-- PASSWORD -->
      <div class="form-group row">
            <input 
            type="password"
            id="password" 
            name="password" 
            placeholder="Password" 
            class="form-control" 
            required
            ngModel
            #password="ngModel"/>
        </div>
         <span class="alert" *ngIf="password.invalid && password.touched">Please enter password!</span><br>

<!-- BUTTONS -->
      <div class="clearfix">
         <button class="btn btn-indigo btn-lg float-left" data-toggle="button" [disabled]="f.invalid" type="submit">Login</button>
         <button type="button" class="btn btn-amber btn-lg float-right" routerLink="/register">Register</button>
      </div>
    </form>

</div> <!-- Login form -->


</body>
