

body {
	margin: 0;
	padding: 0;
	border: 0;
	height: auto;
	background-color: #f4f4f4;
}

.home-login {
	background-color:  #f4f4f4;
}
.login-form {
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
	position: relative;
	z-index: 10;
	/* background: rgba(255,255,255,0.7); */
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 20px;
	text-align: center;
	padding-bottom: 10px;
	/* box-sizing: border-box; */
}

.alert {
	display: flex;
	text-align: center;
	color: red;
}
.card {
	width: 23rem;
	height: 28rem;
	background-color: white;
}
.form-group, .row {
	background-color: white;
}

.form input {
	font-family: 'Roboto', sans-serif;
	outline: 1;
	width: 100%;
	border: 1px solid rgb(231,175,111);
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
 
h1, .login-txt {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 600;
	background-color: white;
}

.form button {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	/* border: 0; */
	padding: 10px;
	font-size: 16px;
	letter-spacing: 0.5em;
}

/* .btn-block, ml-4 {
	margin-left: auto;
} */
.clearfix {
	background-color: white;
}



.cd-icon {	
/* 	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;	
	animation-delay: 1s; */
	display: flex;
  	height: 250px;
  	justify-content: center;
  	align-items: center;
}


