/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */


/* Color1(whitesmoke)
HEX: #F4F4F4
RGB: 244 244 244

Color2(DimGray)
HEX: #3F3B3B
RGB: 63 59 59

Color3(LightGray)
HEX: #CFCFD0
RGB: 207 207 208

Color4(DarkGray)
HEX: #A2A2A3
RGB: 162 162 163

Color5(LightCoral)
HEX: #DF6E69
RGB: 223 110 105 */




*, body {
 		margin: 0;
        padding: 0;
        border: 0;
        max-width: 100%;
        background-color: #f4f4f4;
        font-family: 'Roboto', sans-serif;
} 




