 <nav class="navbar navbar-light navbar-brand fixed-top">
          <h4>Cupcakes & Dirt Blog</h4>
        <button type="submit" form="profileForm" [disabled]="f.invalid"><i class="glyphicon glyphicon-ok"></i></button>
</nav>

<div class="container">

    <div *ngIf="usernameTaken" class="alert alert-danger">Username is taken, please try another one.</div>
  
    <div *ngIf="submitSuccess" class="alert alert-success">Update successful!</div>

  <form class="user-form card shadow p-3 mb-5 bg-info rounded" (ngSubmit)="update()" id="profileForm" #f="ngForm">
    <div class="form-group">
      <label for="username"><b>Username</b></label>
      <input 
      type="text"  
      required
      ngModel="{{user.username}}"
      #username="ngModel"
      name="username" 
      placeholder="Username" 
      class="form-control">
    </div>
    <div class="form-group">
      <label for="email" for="email"><b>Email</b></label>
      <input 
      type="email" 
      name="email" 
      placeholder="Email" 
      class="form-control"
      ngModel="{{user.email}}"
      #email="ngModel">
    </div>
    <div class="form-group">
      <label for="firstName"><b>First Name</b></label>
      <input 
      type="text" 
      name="firstName" 
      placeholder="First name" 
      class="form-control"
      ngModel="{{user.firstName}}"
      #firstName="ngModel">
    </div>
    <div class="form-group">
      <label type="name" for="lastName"><b>Last Name</b></label>
      <input 
      type="text" 
      name="lastName" 
      placeholder="Last name" 
      class="form-control"
      ngModel="{{user.lastName}}"
      #lastName="ngModel">
    </div>

      <button type="button" class="btn btn-primary btn-lg cb-submit-btn" data-toggle="button" routerLink="/user/{{uid}}/website">Websites</button>
      
      <button type="button" class="btn btn-danger btn-lg cb-submit-btn" data-toggle="button" (click)="logout()">Logout</button>
  </form>
</div>


  <!-- Bottom Navbar -->
<!--     <nav class="navbar navbar-dark cb-gray fixed-bottom">
      <div class="cb-width">
      <a class="cb-font-white cb-float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
      </div>
    </nav> -->
